@import url(../styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{          
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    
    background-color: #121214;
    
    font-family: 'Roboto', sans-serif;
}
div.area-total{
    margin-left: 492px;
    margin-right: 416px;    

    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
div.topo{
    display: flex;
    flex-direction: row;        
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-items: baseline;

    gap: 25px;
    margin-top: 114px;
    margin-left: 64px;

    font-family: 'Roboto', sans-serif;
}
.topo-aluno{    
    padding-bottom: 17px;
    border-bottom: 2px solid #8257E5;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.topo-empresa{
    padding-bottom: 17px;
    border-bottom: 2px solid #121214;

    font-size: 16px;
    color: #737380;
    font-family: 'Roboto', sans-serif;
}
div.area-total-cadastro{
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
      
}
div.painel-principal-esquerda{
    box-sizing: border-box; 
    display: flex;
    justify-content: start;  
    flex-wrap: wrap;
    flex-direction: column;
    
    width: 456px;
    height: 659px;       

    background: #202024;
    border: 1px solid #202024;
    border-radius: 5px;

    padding-left: 64px;
    padding-right: 64px;
    padding-top: 66px;
}
.esquerda-titulo{
    color: #ffffff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 20.8px;

    padding-bottom: 42px;
}
.email{
    width: 278.5px;
    height: 44px;
    
    color: #28272C;
    background-color: #121214;
    
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
    border: 2px solid#121214;
    border-radius: 5px;
    padding-left: 42px;
    margin-bottom: 10px;
}
.email:focus{
    border: 2px solid #8257E5;
}
.nome{
    width: 278.5px;
    height: 44px;
    
    color: #28272C;
    background-color: #121214;
    
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
    border: 2px solid #121214;
    border-radius: 5px;
    padding-left: 42px;
    margin-bottom: 10px;
}
.nome:focus{
    border: 2px solid #8257E5;
}
.senha{
    width: 278.5px;
    height: 44px;
    
    color: #28272C;
    background-color: #121214;
    
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
    border: 2px solid #121214;
    border-radius: 5px;
    padding-left: 42px;
    margin-bottom: 10px;
}
.senha:focus{
    border: 2px solid #8257E5;
}
.confirmar-senha{
    width: 278.5px;
    height: 44px;
    
    color: #28272C;
    background-color: #121214;
    
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
    border: 2px solid #121214;
    border-radius: 5px;
    padding-left: 42px;
    margin-bottom: 10px;    
}
.confirmar-senha:focus{
    border: 2px solid #8257E5;
}
.container{
    width: 300;
    height: 75px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #222222;
    border-color: #ffffff;

    margin-top: 8px;
    margin-bottom: 19px;
}
.termos-cima{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}
.termo-1{
    color: #CCCCCC;
    margin-left: 0px;
}
.termo-2{
    color: #8257E6;
    margin-left: 4px;
    font-weight: bold;
}
.termo-3{
    color: #CCCCCC;
    margin-left: 4px;
}
.termos-baixo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}
.termo-4{
    color: #CCCCCC;
    margin-left: 0px;    
}
.termo-5{
    color: #8257E6;
    margin-left: 4px;
    font-weight: bold;
}
.termo-6{
    color: #CCCCCC;
    margin-left: 0px;
}
.btn-cadastrar{
    width: 328px;
    height: 50px;

    background: #8257E5;
    border: 1px solid #8257E5;;
    border-radius: 5px;

    color: #ffffff;
    font-size: 16PX;
    font-family: 'Roboto', sans-serif;    
    font-weight: bolder;
    line-height: 13.3PX;

    margin-top: 20px;

}
div.painel-principal-direita{
    box-sizing: border-box;     
    display: flex;
    align-self: center; 
    flex-wrap: wrap;
    flex-direction: column;  
    
    width: 556px;
    height: 659px;

    padding-left: 100px;
    padding-right: 80px;
    padding-top: 91px;
    padding-bottom: 64px;
}
div.logo-com-nome{
    margin-bottom: 65px;
}
.titulo-direita{
    color: #E1E1E6;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 42.3px;

    padding-bottom: 42px;
}
.subtitulo-direita{
    color: #A8A8B3;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px;

    padding-bottom: 39px;
}
.btn-voltar{
    border: none;
    color:#8257E6;
    background-color: #121214;

    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 11.7px;
}